<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="sce4" class="container-fluid text-center bg-2">
        <section class="intro vertical-scrolling">
        <div class="w3-content">
        <h2>Event</h2>
          <div class="row">
          
            <div class="w3-card-4 col-sm-4" style="width:50%">
              <img src="/images/Icpc.png" class="img-responsive" style="width:100%" alt="Image">
                <div class="w3-container w3-center">
                  <p>ACM-IPCP Online and Loacl 2015</p>
                </div>
            </div>

            <div class="col-sm-4">
              <img src="/images/acm-icpc.png" class="img-responsive" style="width:100%" alt="Image">
            </div>

            <div class="col-sm-4">
              <img src="/images/3tech.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>

          </div>
        </div>
        </section>
      </div>