<!DOCTYPE html>
<html>
<style>
h1{
  font: 20px Montserrat, sans-serif;
  color: #1abc9c;
}
</style>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bulma.css' />
  </head>
  <body>
    <div class="title">
      <h3> Pom </h3>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class>HELLO</h1>
      </div>
    <div>
  </body>
</html>
