body {
    position: relative;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#intro {
    height: 90%;
}

.bg-1 {
    background-color: #000000;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.sec1 {
    background-image: url("/images/sec1.gif");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.sec3 {
    background-image: url("/images/sec3.gif");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.sec4 {
    background-image: url("/images/sec4.gif");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.sec6 {
    background-image: url("/images/sec6.gif");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

section {
    width: 100%;
    padding: 10% 25%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.content {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 200px;
    color: #FFA500;
}

h2 {
    font-size: 100px;
    color: #DAA520;
}

h3 {
    font-size: 40px;
    color: #FFD700;
}

a1 {
    font-size: 30px;
    color: #000000;
}

a2 {
    font-size: 100px;
    color: #000000;
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}