body {
    position: relative;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#intro {
    height: 90vh;
}

.bg-1 {
    background-color: #000000;
}

.sec1 {
    background-image: url(https://secure.static.tumblr.com/ee6156055ea651c2ee47d044f6eeac9b//IO7nu3qxh/tumblr_static_tumblr_static__640.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.sec3 {
    background-image: url(https://media.giphy.com/media/1xawnFRPNf9g4/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.sec6 {
    background-image: url(https://media.giphy.com/media/q5DTF6fjIMF7a/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    width: 100%;
    padding: 10% 25%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.content {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 200px;
    color: #48D1CC;
}

h2 {
    font-size: 100px;
    color: #40E0D0
}

h3 {
    font-size: 40px;
    color: #AFEEEE;
}

a1 {
    font-size: 30px;
    color: #000000;
}

a2 {
    font-size: 100px;
    color: #000000;
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}